<section class="discaver">

    <div class="discaver-container container">
        
        <div class="discaver-content">
            <div class="discaver-info">
                <h1 class="main-title">Discover digital art & Collect NFTs</h1>
                <p class="main-subtitle">NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
            </div>  
            
        <div class="get-start">
        <div class="discaver-get-start">
            <a class="get-start-link" href="#">
                <svg class="icon-rocket" width="20" height="20">
                    <use href="../img/sprite.svg#icon-RocketLaunch"></use>
                </svg>
                Get Started</a>
        </div>
        <ul class="discaver-list">
            <li class="discaver-item">
                <p class="item-count">240k+</p>
                <p class="discaver-follow ">Total Sale</p>
            </li>
            <li class="discaver-item">
                <p class="item-count">100k+</p>
                <p class="discaver-follow ">Auctions</p>
            </li>
            <li class="discaver-item">
                <p class="item-count">240k+</p>
                <p class="discaver-follow ">Artists</p>
            </li>
        </ul>
        </div>      
        </div>



 <div class="discaver-img">
                <img class="discaver-picture" src="../img/b.png" alt="space">
                <div class="discaver-img-content">
                    <h2 class="discaver-img-title">Space Walking</h2>
                    <div class="discaver-avatar">
                        <img class="discaver-avatar-img" src="../img/avatar/14.png" alt="avatar" width="24" height="24">
                         <p class="discaver-avatar-name">Animakid</p>
                    </div>                   
                </div>
            </div>
        
      


    </div>
</section>