<footer class="footer">
  <div class="footer-container container">
    <a href="../index.html" class="footer-link-logo">
      <ul class="footer-list-logo">
        <li class="footer-item">
          <svg class="footer-icon-logo" width="" height="">
            <use href="../img/svg тимчасова/Storefront.svg"></use>
          </svg>
        </li>
        <li class="footer-item">
          <svg class="footer-icon-text" width="" height="">
            <use href="../img/svg тимчасова/NFT-Marketplace.svg"></use>
          </svg>
        </li>
      </ul>
    </a>
    <p class="footer-caption">
      NFT marketplace UI created with Anima for Figma.
    </p>
    <p class="footer-text">Join our community</p>
    <ul class="footer-list-media">
      <li class="footer-item-media">
        <svg class="footer-icon-media" width="" height="">
          <use href="./img/svg тимчасова/DiscordLogo.svg"></use>
        </svg>
      </li>
      <li class="footer-item-media">
        <svg class="footer-icon-media" width="" height="">
          <use href="./img/svg тимчасова/YoutubeLogo.svg"></use>
        </svg>
      </li>
      <li class="footer-item-media">
        <svg class="footer-icon-media" width="" height="">
          <use href="./img/svg тимчасова/TwitterLogo.svg"></use>
        </svg>
      </li>
      <li class="footer-item-media">
        <svg class="footer-icon-media" width="" height="">
          <use href="./img/svg тимчасова/InstagramLogo.svg"></use>
        </svg>
      </li>
    </ul>
    <h2 class="footer-title">Explore</h2>
    <ul class="footer-list-links">
      <li class="footer-item-links">
        <a href="#" class="footer-links">
          <p lass="footer-links-subject">Marketplace</p>
        </a>
      </li>
      <li class="footer-item-links">
        <a href="#" class="footer-links">
          <p lass="footer-links-subject">Rankings</p>
        </a>
      </li>
      <li class="footer-item-links">
        <a href="#" class="footer-links">
          <p lass="footer-links-subject">Connect a wallet</p>
        </a>
      </li>
    </ul>
    <h2 class="footer-headline">Join our weekly digest</h2>
    <p class="footer-subtitle">Get exclusive promotions & updates straight to your inbox.</p>
    <form class="footer-form" name="" autocomplete="off">
      <label class="footer-label">
        <input
        class="footer-input"
          type="email"
          name="footer-input-email"
          placeholder="Enter Your Email Address"
          maxlength="275"
          pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$"
          title="Use the format: test@gmail.com"
          aria-label="Subscribe to our newsletter. Enter your email address here."
          required
        />
      </label>
      <button class="footer-btn">
        <svg class="footer-btn-icon" width="" height="" >
          <use href="../img/svg тимчасова/EnvelopeSimple.svg"></use>
        </svg>
        Subscribe
      </button>
    </form>
    <a href="#" class="footer-link-privacy">Ⓒ NFT Market. Use this template freely. class</a>
  </div>
</footer>
