<header class="header">
    <div class="container">
        <div class="header__box-market">
            <ul class="header__box-list">
                <li class="header__box-list-storefront">
                    <a>
                        <svg class="header__svg-storefront" width="24" height="24" viewBox="0 0 32 32">
                            <use href="./img/sprite.svg#icon-Storefront"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__box-list-marketplace">
                    <a>
                        <svg class="header__svg-marketplace" height="14" viewBox="0 0 305 32">
                            <use href="./img/sprite.svg#icon-NFT-Marketplace"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <nav class="is-hidden">
            <ul class="nav-list">
                <li class="nav-link"><a href="">Marketplace</a></li>
                <li class="nav-link"><a href="">Rankings</a></li>
                <li class="nav-link"><a href="">Connect a wallet</a></li>
            </ul>
        </nav>
        <button type="button" class="header__button"><svg class="" width="24" viewBox="0 0 24 24">
                <use href="./img/sprite.svg#icon-List"></use>
            </svg></button>
    </div>
</header>