.footer {
    background-color: #3B3B3B;
}
.footer-container {
   padding-top: 40px;
   padding-bottom: 40px;
}

.footer-link-logo {
}
.footer-list-logo {
}
.footer-item {
}
.footer-icon-logo {
    fill: #A259FF;
    width: 32px;
    height: 32px;
}
.footer-icon-text {
    fill: #FFF;
    width: 199px;
    height: 20px;
}
.footer-caption {
}
.footer-text {
}
.footer-list-media {
}
.footer-item-media {
}
.footer-icon-media {
}
.footer-title {
}
.footer-list-links {
}
.footer-item-links {
}
.footer-links {
}
.footer-headline {
}
.footer-subtitle {
}
.footer-form {
}
.footer-label {
}
.footer-input {
}
.footer-btn {
}
.footer-btn-icon {
}
.footer-link-privacy {
}